.people-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.person-card-container {
    margin: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 10px;
}
